.git
.github
.venv
.venv-1
.venv311
__pycache__
*.pyc
.pytest_cache
.ipynb_checkpoints
.vscode
notebook/
dataset/

test data/*
!test data/first_x_10_row_df.csv
!test data/middle_x_10_rows.csv
!test data/last_x_10_rows.csv